{% extends 'layout/base.html.twig' %}

{% block title %} My URLs {% endblock %}

{% block body %}

{% include 'layout/navbar.html.twig' %}

{% include 'component/custom_type_message_top_fixed.html.twig' %}

<div class="container-fluid">

    <div class="row py-3 d-dark-color shadow">
        <div class="col-4 col-lg-4">
            <h5 class="text-white-50 pt-1"> List of URLs</h5>
        </div>
        <div class="col-4">
            {% if count(links) > 0 %}
            <form action="{{path('app_search_urls')}}" method="post">
                <div class="input-group md-d-none">
                    <input type="search" class="form-control bg-placeholder" name="keyword" placeholder="Search .."
                        aria-label="Search" required aria-describedby="button-search"
                        style="background-color: transparent; border: 1px solid #6c757d;">
                    <button class="btn btn-outline-secondary" type="submit" id="button-search">
                        <span class="bi bi-search"></span>
                    </button>
                </div>
            </form>
            {% endif %}
        </div>

        <div class="col-4">
            <div class="d-flex float-end">
                <button class="btn btn-outline-secondary btn-sm mt-1 me-2" data-bs-toggle="modal"
                    data-bs-target="#newModal">
                    <span class="md-d-none">New </span> <span class="bi bi-plus-circle ps-1"></span>
                </button>

                {% if count(links) > 0 %}
                <!-- <button class="btn btn-outline-secondary btn-sm mt-1 me-2" data-bs-toggle="modal"
                    data-bs-target="#anonomyzeModel">
                    <span class="md-d-none">Anonomyze </span> <span class="bi bi-fingerprint"></span>
                </button> -->

                <div class="dropdown mt-1 me-2">
                    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="bi bi-three-dots-vertical"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li class="small">
                            <a class="dropdown-item" href="#"><span class="bi bi-download pe-1"></span>
                                Export</a>
                        </li>
                        <li class="small">
                            <a class="dropdown-item" href="{{path('app_profile_dashboard_setting_index')}}">
                                <span class="bi bi-gear pe-1"></span> Settings
                            </a>
                        </li>
                        <li class="small">
                            <a class="dropdown-item" href="{{path('app_contact_us_index')}}">
                                <span class="bi bi-question-circle pe-1"></span> Help
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-lg-12">

            {% if count(links) > 0 %}
            {% include 'profile/partial/table_content.html.twig' %}
            {% else %}
            <p class="text-white-50 p-3">No data found.</p>
            {% endif %}

        </div>
    </div>
</div>

{% include 'profile/modal/new.html.twig' %}

{% include 'profile/modal/anonomyze.html.twig' %}

{% include 'profile/modal/delete.html.twig' %}

{% include 'layout/footer.html.twig' %}

{% endblock %}