{% extends 'layout/base.html.twig' %}

{% block title %} My URLs Search {% endblock %}

{% block body %}

{% include 'layout/navbar.html.twig' %}

{% include 'component/custom_type_message_top_fixed.html.twig' %}

<div class="container-fluid">

    <div class="row py-3 d-dark-color shadow">
        <div class="col-12">
            <h5 class="text-white-50 pt-1"> Search URLs
                <a href="{{path('app_profile_my_urls')}}" class="float-end text-secondary text-decoration-none fs-15 pt-1">
                    Close <span class="bi bi-x-square-fill ps-1 small"></span>
                </a>
            </h5>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-lg-12">

            <p class="text-white-50 pt-5">Results for keyword "<span class="text-success">{{keyword}}</span>"
                founded "<span class="text-success">{{count(links)}}</span>"
            </p>

            {% if count(links) > 0 %}
            {% include 'profile/partial/table_content.html.twig' %}
            {% else %}
            <p class="text-white-50">
                No data has been found. Please serach only for titles! <br>
            </p>
            <p><a href="{{path('app_profile_my_urls')}}" class="small text-decoration-none mt-3">Back to URLs <span
                class="bi bi-arrow-left-circle-fill ps-1"></span></a></p>
            {% endif %}
        </div>
    </div>
</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}