<div class="modal fade" id="emailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #1b1b1c;">
            <div class="modal-header">
                <h1 class="modal-title text-white-50 fs-5" id="emailModalLabel">Change E-mail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{{path('app_profile_personal_data_email_store')}}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="iEmail" class="form-label text-white-50">New Email:</label>
                        <input type="text" class="form-control" id="iEmail" placeholder="{{app.user.email}}" name="iEmail"
                            style="height: 42px; border-radius: 0; background-color: #0000001c;border: 1px solid #535353;color: #f0efef;"
                            required>
                        <small class="text-secondary text-white-50">This feld is required.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
                        style="border-radius: 2px;height: 40px;">Cancel</button>
                    <button type="submit" class="btn btn-warning"
                        style="border-radius: 2px;height: 40px;">Update E-mail</button>
                </div>
            </form>

        </div>
    </div>
</div>