<div class="modal fade" id="usernameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="usernameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #1b1b1c;">
            <div class="modal-header">
                <h1 class="modal-title text-white-50 fs-5" id="usernameModalLabel">Change Username</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{{path('app_profile_personal_data_username_store')}}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="iUsername" class="form-label text-white-50">New Username:</label>
                        <input type="text" class="form-control" id="iUsername" placeholder="{{app.user.name}}" name="iUsername"
                            style="height: 42px; border-radius: 0; background-color: #0000001c;border: 1px solid #535353;color: #f0efef;"
                            required autofocus>
                        <small class="text-secondary text-white-50">This feld is required.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                        style="border-radius: 2px;height: 40px;">Cancel</button>
                    <button type="submit" class="btn btn-outline-warning"
                        style="border-radius: 2px;height: 40px;">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>