{% extends 'layout/base.html.twig' %}

{% block title %} List of Features {% endblock %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}

    <header>
        <div class="d-dark-color px-4 px-lg-5 pb-5 min-vh-100">

            <div class="row justify-content-center py-3">
                <div class="col-lg-6">
                    <h3 class="d-color font-weight-bold my-3 opacity-08">
                        List of Features
                    </h3>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="row row-cols-1 g-3 text-start">
                        <div class="col">
                            <div class="card d-dark-secondary-color d-dark-border-color">
                                <div class="card-body">
                                    <h5 class="card-title text-white-50">URL Shortner</h5>
                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Long URL shorten
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Malicious URLs {{ totalMaliciousLinks }}+ detection
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Type your own Alias; instead of Random chars
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Short URL can be public with statistics or private without statistics
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Log statistics and analyze users locations
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Short URL can have a Description
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Allow or disallow dupplicated URL
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Smart search URL
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Add Short Links to Favourite
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Edit and Delete Short URL
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Short URL Collection (Groups)
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Move links to a Group
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Delete group and unasign collections or delete group and collections
                                    </p>

                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Export links as CSV-format or JSON-format
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-lg-6">
                    <div class="row row-cols-1 g-3 text-start">
                        <div class="col">
                            <div class="card d-dark-secondary-color d-dark-border-color">
                                <div class="card-body">
                                    <h5 class="card-title text-white-50 mt-3">Social-Media Profiles</h5>
                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        All your social-profiles will be under your main alias
                                    </p>
                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Main alias will be a default your Account's username / can be edited
                                    </p>
                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Count unique views by visiting your profile
                                    </p>
                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Manage your social-profiles in one place
                                    </p>
                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Edit and Delete a social-profile
                                    </p>
                                    <p class="text-secondary mb-1">
                                        <strong class="bi bi-check2-circle text-success pe-2"></strong>
                                        Log statistics by visting any link
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center py-3">
                <div class="col-lg-6">
                    <p class="text-secondary fs-15">
                        <a href="{{ path('app_contact_us_index') }}" class="d-color opacity-08">Contact us</a> for a
                        self-hosting - all your data will be on your control. Any kind of queries related to this just
                        make a call.
                        It's free for 1 year with all features.
                        <a href="{{ path('app_register') }}" class="d-color opacity-08">Sign Up</a> to enjoy all
                        features.
                    </p>
                </div>
            </div>
        </div>
    </header>

    {% include 'layout/footer.html.twig' %}

{% endblock %}