{% extends 'layout/base_without.html.twig' %}

{% block title %} impressum {% endblock %}

{% block body %}
<div class="d-flex flex-column h-100">

    {% include 'layout/navbar_without.html.twig' %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">

                <h3>impressum</h3>

                Photo by <a
                    href="https://unsplash.com/@benjaminlehman?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">benjamin
                    lehman</a> on <a
                    href="https://unsplash.com/photos/woman-in-black-dress-illustration-mnYSDdwunVY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

            </div>
        </div>
    </div>

    {% include 'layout/footer_without.html.twig' %}

</div>
{% endblock %}