{% extends 'layout/base.html.twig' %}

{% block title %} impressum {% endblock %}

{% block body %}
    <div class="d-flex flex-column h-100">

        {% include 'layout/navbar.html.twig' %}

        <!-- ___FIRMENNAME
    __STRASSE_UND_HAUSNUMER
    __PLZ
    __ORT
    __LAND
    ____TELEFON
    __EMAIL_ADDRESSE
    __WEBSEITE -->

        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">

                    <h1>Impressum</h1>
                    <h2 id="m46">Diensteanbieter</h2>
                    ___FIRMENNAME
                    __STRASSE_UND_HAUSNUMER
                    __STRASSE_UND_HAUSNUMER
                    __PLZ
                    __LAND

                    <h2 id="m56">Kontaktmöglichkeiten</h2>E-Mail-Adresse: __EMAIL_ADDRESSE
                    Telefon: ____TELEFON

                    <p class="seal"><a href="https://datenschutz-generator.de/"
                                       title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
                                       target="_blank"
                                       rel="noopener noreferrer nofollow">Erstellt mit kostenlosem
                            Datenschutz-Generator.de von Dr.
                            Thomas Schwenke</a></p>
                </div>
            </div>
        </div>

        {% include 'layout/footer.html.twig' %}

    </div>
{% endblock %}