{% extends 'layout/base_without.html.twig' %}

{% block title %} impressum {% endblock %}

{% block body %}
<div class="d-flex flex-column h-100">

    {% include 'layout/navbar_without.html.twig' %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                
                <h3>impressum</h3>

            </div>
        </div>
    </div>

    {% include 'layout/footer_without.html.twig' %}

</div>
{% endblock %}