<div class="modal fade" id="MaliciousUrlModal" tabindex="-1" role="dialog" aria-labelledby="MaliciousUrlTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form action="{{ path('app_admin_links_malicious_new') }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-title-upper" id="MaliciousUrlTitle">
                        Add Malicious Urls
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-group">
                        <p>URLs in database are unique.</p>
                    </div>

                    <div class="form-group">
                        <label for="mUrls">{{ 'Malicious URLs'|trans }}: <span class="text-danger">*</span></label>
                        <textarea class="form-control"
                                  id="mUrls"
                                  spellcheck="false"
                                  ondragstart="return false"
                                  ondrop="return false"
                                  dir="auto"
                                  autocapitalize="off"
                                  autocomplete="off"
                                  translate="no"
                                  name="mUrls"
                                  rows="3"
                                  placeholder="0.0.0.0 ck.getcookiestxt.com
eu1.clevertap-prod.com
..."
                                  required></textarea>
                        <small class="text-secondary">Around 2.000 Lines per submit.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-radius-50" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success btn-radius-50">Add URLS</button>
                </div>
            </div>
        </form>
    </div>
</div>