{% extends 'admin/layout/base.html.twig' %}

{% block title %} Dashboard malicious URLs {% endblock %}

{% block body %}

    <div class="content-wrapper">

        {% set maliciousUrlsCount = count(maliciousUrls) %}

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-6">
                        <h5 class="m-0 text-dark" title="{{ maliciousUrlsCount }}">
                            Malicious URLs
                        </h5>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="text-secondary" data-toggle="modal" data-target="#MaliciousUrlModal">
                                <a href="#MaliciousUrlModal" class="text-secondary pb-1">Add URLS <span
                                            class="fa fa-plus"></span></a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">
                <div class="row">
                    <div class="col-lg-12">
                        {% if maliciousUrlsCount > 0 %}
                            {% include 'admin/malicious-urls/partial/table_content.html.twig' %}
                        {% else %}
                            <span class="text-secondary fs-15">No data has been found!</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'admin/malicious-urls/modal/new_malicious_url.html.twig' %}

{% endblock %}