{% extends 'admin/layout/base.html.twig' %}

{% block title %} Dashboard Users {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h5 class="m-0 text-dark mt-1">Users overview</h5>
                    </div>
                    <div class="col-6">
                        <ol class="breadcrumb float-right">
                            <li class="text-secondary" data-toggle="modal" data-target="#deleteUserModal">
                                <a href="#" class="text-secondary fs-13 pb-1">
                                    Delete <span class="fa fa-trash-alt"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'admin/users/partial/table_content.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'admin/users/modal/delete.html.twig' %}

{% endblock %}
