.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

.alert {
    border-radius: 0;
}

.form-label {
    margin-bottom: 0;
}

.alert-fixed-z-index {
    position: fixed;
    top: 11px;
    right: 1px;
    z-index: 1030
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.d-dark-color {
    background-color: #0000001c;
}

.bg-none {
    background-color: transparent !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-select:focus,
.form-control .btn:active,
.btn:focus .uneditable-input:focus {
    border-color: none;
    outline: 0 none;
    border: 1px solid #a9d15898 !important;
    box-shadow: none !important;
}

.d-color {
    color: #a9d158;
    /* 6ea8fe; */
}

.pointer {
    cursor: pointer;
}

@media (max-width: 868px) {
    .md-text-center {
        text-align: center !important;
    }

    .md-d-none {
        display: none !important;
    }
}

.alert-notice {
    color: #0b6487;
    background: #cff3ff;
}

.alert {
    border-radius: 5px;
}

.d-dark-color {
    background-color: #0000001c;
}

.d-dark-border-color {
    border: 1px solid #2b2b2b;
}

.d-danger-color {
    color: #e14d5b;
    opacity: 0.8;
}

.d-warning-color {
    color: #c99d1b !important
}

.d-success-color {
    color: #12995a !important
}

.cursor-help {
    cursor: help;
}

label {
    color: #808080;
}

.btn-outline-secondary, .btn-outline-success .btn-outline-warning, .btn-outline-danger {
    opacity: 0.8;
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-07 {
    opacity: 0.7;
}

.opacity-08 {
    opacity: 0.8;
}

.opacity-09 {
    opacity: 0.9;
}

body {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.accordion-border {
    border: 1px solid #2b2b2b !important;
    --bs-accordion-border-width: 0 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #1d2124;
    color: #ffffff80;
    box-shadow: none;
}

tbody, td, tfoot, th, thead, tr {
    border-bottom: 1px solid #3535355e;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
