<footer class="main-footer">
    <i class="small">Copyright &copy; 2024 <a href="www.khalilleo.com">khalilleo.com</a>.</i>
    <i class="small">All rights reserved.</i>
    <div class="float-right d-none d-sm-inline-block">
        <i class="small">Version 1.0.0</i>
    </div>
</footer>