<footer class="main-footer">
    <i class="small">Copyright &copy; 2024 <a href="https://www.khalilleo.com" target="_blank">khalilleo.com</a>.</i>
    <i class="small">All rights reserved.</i>
    <div class="float-right d-none d-sm-inline-block">
        <i class="small">{{version() }}</i>
    </div>
</footer>