<div class="text-center mb-4">
    <h5 class="fw-bold">
        <a href="https://{{ appName() }}" class="text-decoration-none text-secondary">
            {{ appName() }}
        </a>
    </h5>
</div>