{% extends 'admin/layout/base.html.twig' %}

{% block title %} Dashboard Social Profiles {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="m-0 text-dark mt-1">Social Profiles</h5>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right"></ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'admin/social-profiles/partial/table_content.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}