{% extends 'layout/base.html.twig' %}

{% block title %} My URLs Edit Group {% endblock %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}

    {% include 'component/custom_type_message_top_fixed.html.twig' %}

    <div class="container-fluid min-vh-100">

        <div class="row justify-content-center mt-4 mb-2">
            <div class="col col-lg-5">
                <h5 class="text-white-50">Edit Group Details</h5>
            </div>

            <div class="col col-lg-1">
                <a href="{{ path('app_profile_my_urls') }}"
                   class="float-end text-secondary text-decoration-none fs-15">
                    <span class="md-d-none">Close</span>
                    <span class="bi bi-x-square-fill ps-1"></span>
                </a>
            </div>
        </div>

        <div class="row pb-5 mb-5 justify-content-center">
            <div class="col-lg-6">
                <div class="row row-cols-1 g-3">
                    <div class="col">
                        <div class="card d-dark-secondary-color d-dark-border-color">
                            <div class="card-body">
                                {% include 'profile/dashboard/collections/partial/manage_group.html.twig' %}
                            </div>
                        </div>

                        <p class="my-3 fs-14">
                            <a href="{{ path('app_profile_my_urls') }}" class="text-decoration-none">
                                <span class="bi bi-arrow-left-circle-fill pe-1"></span> Back to URLs
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layout/footer.html.twig' %}

{% endblock %}