<div class="input-group md-d-none">
    <form action="{{path('app_search_urls')}}" method="post" class="w-100">
        <div class="input-group mb-3">
            <input class="form-control py-2 rounded-pill mr-1 bg-placeholder" name="keyword" type="search"
                placeholder="Search URLs .." required style="background-color: transparent; border: 1px solid #484848;"
                value="{{keyword is defined and keyword ? keyword : ''}}">
            <span class="input-group-append">
                <button class="btn rounded-pill" type="submit"
                    style="margin-left: -45px;padding-top: 9px; z-index: 666;">
                    <span class="bi bi-search text-secondary"></span>
                </button>
            </span>
        </div>
    </form>
</div>