<footer class="container-fluid bg-dark small">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-white-50">
                <p class="font-15 md-text-center">Copyright ELE.Click © {{year()}}. All rights reserved.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-white-50 text-end">
                <p class="font-15 pb-2 md-text-center">Made by <a class="d-color text-decoration-none" href="https://www.khalilleo.com" rel="follow index">Khalilleo.com</a></p>
            </div>
        </div>
    </div>
</footer>