<footer class="container-fluid bg-dark small fixed-bottom">
    <div class="row py-2">
        <div class="col-lg-6">
            <div class="text-white-50">
                <samll class="font-15 md-text-center">Copyright ELE.Click © {{year()}}. All rights reserved.</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-white-50 text-end">
                <small class="font-15 pb-2 md-text-center">
                    Made by <a class="d-color text-decoration-none" href="https://www.khalilleo.com" rel="follow index">
                        Khalilleo.com
                    </a>
                </small>
            </div>
        </div>
    </div>
</footer>