<div class="container-fluid bg-light" style="border-bottom: 2px solid #e3e3e3;">

    <div class="container">
        <div class="row py-3">
            <div class="col-6">
                <a class="navbar-brand" href="{{path('app_home')}}">
                    <img src="{{asset('assets/img/favicon/favicon-32x32.png')}}" alt="ELE">
                </a>
            </div>
            <div class="col-6">
                    <span class="float-end pt-1">
                        <a href="{{path('app_home')}}"><span class="bi bi-x-circle text-secondary pointer"></span></a>
                    </span>
            </div>
        </div>
    </div>

</div>