html, body {
    font-family: Arial, Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p, td, td > *, a, form > span {
    font-size: 15px !important;
}

label, label:not(.form-check-label):not(.custom-file-label){
    margin-bottom: 1px;
    font-weight: 500;
}

.btn {
    text-transform: capitalize;
    border-radius: 3px;
    padding: 8px 13px;
    font-size: 15px;
}

.btn-outline-secondary{
    text-transform: capitalize;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 15px;
}

.modal-title-upper {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    word-spacing: 2px;
    color: #737171;
}

.area-card {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ece9e9;
    opacity: .9;
}

.nowrap, td, th {
    white-space: nowrap;
}

.nav-icon {
    font-size: 15px !important;
}

.form-control-lg {
    font-size: 15px;
}

.btn-lg {
    font-size: 16px;
    padding: 12px 15px;
}

.pointer {
    cursor: pointer;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.alert-fixed-z-index {
    position: fixed;
    top: 2px;
    right: 1px;
    z-index: 1060
}

.text-light-50 {
    color: #ccc;
}

.cursor-help {
    cursor: help;
}

.table td, .table th {
    border-bottom: 1px solid #eeeeee !important;
}

.modal-info {
    border-left: 3px solid #1e4eac;
    padding: 14px 14px;
    background: #e5eaf782;
    color: #1e4eac;
    font-size: 14px !important;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
    margin-bottom: 10px;
}

.modal-warning {
    border-left: 3px solid #95720c;
    padding: 14px 14px;
    background: #f2efe4;
    color: #95720c;
    font-size: 14px !important;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
    margin-bottom: 10px;
}

.modal-danger{
    border-left: 3px solid #f70404;
    padding: 14px 14px;
    background: #ffc5c554;
    color: #f70404;
    font-size: 14px !important;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
    margin-bottom: 10px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgba(246, 244, 244, 0.55) !important;
}

.form-control:disabled:focus, .form-control:focus[readonly] {
    border: 1px solid #f89797 !important;
    background-color: rgba(250, 223, 223, 0.49) !important;
    cursor: not-allowed;
}

.area-section {
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ece9e9;
    opacity: .9;
}

body {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

@media (max-width: 868px) {
    .md-text-center {
        text-align: center !important;
    }

    .md-d-none {
        display: none;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}