<div class="modal fade" id="anonomyzeModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="anonomyzeModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-white-50 fs-5" id="anonomyzeModelLabel">Anonymize</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{{ path('app_profile_anonymize') }}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <p class="text-white-50">This will anonymize all IP-addresses from all Statistic.</p>
                        <p class="text-white-50">Are you sure to do that?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-light">Anonymize</button>
                </div>
            </form>

        </div>
    </div>
</div>