<div class="modal fade" id="newModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #1b1b1c;">
      <div class="modal-header">
        <h1 class="modal-title text-white-50 fs-5" id="newModalLabel">Add new Link</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="{{path('app_profile_my_urls_new')}}" method="post">
        <div class="modal-body">

          <div class="mb-3">
            <label for="iTitle" class="form-label text-white-50">Title:</label>
            <input type="text" class="form-control" id="iiTitle" placeholder="" name="iTitle"
              style="height: 42px; border-radius: 0; background-color: #0000001c;border: 1px solid #535353;color: #f0efef;">
            <small class="text-secondary text-white-50">Search Links will depend on the title.</small>
          </div>

          <div class="mb-3">
            <label for="iLink" class="form-label text-white-50">Long Link:</label>
            <input type="text" class="form-control" id="iLink" placeholder="" name="iLink"
              style="height: 42px; border-radius: 0; background-color: #0000001c;border: 1px solid #535353;color: #f0efef;"
              required>
            <small class="text-secondary text-white-50">This feld is required.</small>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" style="background-color: #0000001c;border: 1px solid #535353;"
              type="checkbox" name="isPublic" id="isPublic" checked>
            <label class="form-check-label text-white-50" for="isPublic">
              Log statistic for this Link
            </label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal"
            style="border-radius: 2px;height: 40px;">Cancel</button>
          <button type="submit" class="btn btn-light" style="border-radius: 2px;height: 40px;">Add Link</button>
        </div>
      </form>

    </div>
  </div>
</div>