<div class="modal fade" id="newModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-white-50 fs-5" id="newModalLabel">Add new Link</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{{ path('app_profile_my_urls_new') }}" method="post">
                <div class="modal-body">

                    <p class="text-white-50 fs-15 mb-1">
                        <span class="bi bi-info-circle pe-1 text-primary"></span> Links that suspected of span,
                        phishing, porn etc. are not allowed.
                    </p>

                    <div class="mb-2">
                        <label for="iiTitle" class="form-label text-white-50">Title:</label>
                        <input type="text" class="form-control" id="iiTitle" placeholder="" name="iTitle" autofocus>
                        <small class="text-secondary text-white-50">Search Links will depend on the title.</small>
                    </div>

                    <div class="mb-2">
                        <label for="iLink" class="form-label text-white-50">Long Link: <span
                                    class="d-danger-color">*</span></label>
                        <input type="text" class="form-control" id="iLink" placeholder="" name="iLink" required>
                    </div>

                    {% if count(collections) > 0 %}
                        <div class="mb-2">
                            <p class="text-white-50 mb-1">Group: <span class="d-danger-color">*</span></p>
                            <select class="form-select bg-dark text-white-50"
                                    aria-label="Default select Collection"
                                    name="group"
                                    required="required">
                                <option value="" aria-readonly="true">-- Select group --</option>
                                <option value="">No group</option>
                                {% for row in collections %}
                                    <option value="{{ row.id }}">{{ row.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    <div class="mt-3 d-none">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="isPublic" id="isPublic" checked>
                            <label class="form-check-label text-white-50" for="isPublic">
                                Log statistic for this Link
                            </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success">Add Link</button>
                </div>
            </form>

        </div>
    </div>
</div>