<div class="modal fade bg-dark" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #1b1b1c;">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white-50" id="searchModalLabel">Search URLs</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{path('app_search_urls')}}" method="post">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" placeholder="Search URLs .." aria-label="Search"
                            aria-describedby="basic-search" name="keyword"
                            style="height: 46px; border-radius: 0; background-color: rgb(30, 30, 30) !important;border: 1px solid #535353;color: #f0efef;"
                            value="{{keyword is defined and keyword ? keyword : ''}}" required autofocus>
                        <span class="input-group-text text" id="basic-search" onclick="this.closest('form').submit();">
                            <span class="bi bi-search pointer"></span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>