{% extends 'admin/layout/base.html.twig' %}

{% block title %} Dashboard > Settings {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h4 class="m-0 text-dark">Settings</h4>
                    </div>
                    <div class="col-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                            <li class="breadcrumb-item active">Settings</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">
                <div class="row">
                    <h6 class="px-3 text-secondary">List of settings</h6>
                    {% include 'admin/settings/partial/table_content.html.twig' %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}